
<form class="my-3">
        <div class="form-group">
          <input type="text"  class="form-control" placeholder="Filter Jobs by Name & Model" ng-change="searchByName()" ng-model="searchText">
        </div>
        <!--<div class="form-group">-->
        <!--  <input type="text" class="form-control" placeholder="Filter Jobs by Model" ng-model="searchText.model">-->
        <!--</div>-->
      </form>
<div class="row">
    <div class="col-sm-6 col-md-4 my-2" ng-repeat="job in filteredJobs">
        <div class="card recipe">
            <img class="card-img-top" ng-src="{{job.imgUrl}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{job.name}}</h4>
                <p class="card-text">{{job.description}}</p>
            </div>
        </div>
    </div>
</div>